@model IEnumerable<Event>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Event</h4>
        <a asp-action="Create" class="btn btn-primary mb-2">Create New Event</a>
        <div class="table-responsive">
            <table class="table table-dark mb-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Location</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @*@{
                        var readyE = Model.Date.OrderByDescending(e => e.Start);
                    }*@
                    @foreach (var evnt in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@evnt.Title</td>
                            <td>@evnt.Date</td>
                            <td>@evnt.End</td>
                            <td>@evnt.Location</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@evnt.Id" class="btn btn-warning">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@evnt.Id" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
