@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider</h4>
                <a asp-action="Create" class="btn btn-primary mb-2">Create New Slider</a>
                <div class="table-responsive">
                    <table class="table table-dark mb-0">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Second Title</th>
                                <th>Description</th>
                                <th>More</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model)
                            {
                                <tr>
                                    <th scope="row">@count</th>
                                    <td><img src="@slider.ImageBGPath" style="width:100px" /></td>
                                    <td>@slider.Title</td>
                                    <td>@slider.SecondTitle</td>
                                    <td>@slider.Description</td>
                                    <td>@slider.More</td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@slider.Id" class="btn btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@slider.Id" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                    count++;
                                }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
